                                                              :root {
                                                                 --primary: #f9c800;
                                                                 --secondary: #d9d0c1;
                                                                 --background: #e1ebe8;
                                                                 --hover: #BDA243;
                                                                 --black: #000000;
                                                                 --font-family: 'Courier New', Courier, monospace;
                                                             }
                                                             
                                                             @font-face {
                                                                 font-family: menufont;
                                                                 src: url(font/biotif-1/Biotif-Regular.ttf);
                                                             }
                                                             
                                                             body {
                                                                 margin: 0;
                                                                 background-color: var(--background)
                                                             }
                                                             
                                                             .topnav {
                                                                 overflow: hidden;
                                                                 margin-left: 1em;
                                                             }
                                                             
                                                             .topnav a {
                                                                 float: left;
                                                                 color: var(--black);
                                                                 text-align: center;
                                                                 padding: 26.4px 13px;
                                                                 text-decoration: none;
                                                                 font-size: 17px;
                                                                 font-family: menufont;
                                                             }
                                                             
                                                             .front-img {
                                                                 margin-top: 6rem;
                                                             }
                                                             
                                                             .over1 {
                                                                 font-family: 'allison';
                                                                 font-size: 70px;
                                                                 width: 3, 5em;
                                                                 margin-left: 2rem;
                                                             }
                                                             
                                                             .ux {
                                                                 font-family: menufont;
                                                             }
                                                             
                                                             .vejfinder {
                                                                 margin-top: 1rem;
                                                                 width: 100%;
                                                                 opacity: 0.9;
                                                             }
                                                             
                                                             .projekt {
                                                                 background: linear-gradient(388.83deg, #f8c6ff -3.41%, rgba(255, 196, 255, 0)52.31%), #ffeec4;
                                                                 width: 100%;
                                                                 border-radius: 20px;
                                                                 position: relative;
                                                                 display: block;
                                                                 transition: all .4s ease-in-out;
                                                                 padding: 3em 3em 4em;
                                                                 margin-left: 1.5rem;
                                                                 margin-right: 1.5rem;
                                                                 margin-top: 4rem;
                                                             }
                                                             
                                                             footer {
                                                                 position: fixed;
                                                                 left: 0;
                                                                 bottom: 0;
                                                                 width: 100%;
                                                                 text-align: center;
                                                             }
                                                             
                                                             @media only screen and (min-width: 600px) {}
                                                             
                                                             @media only screen and (min-width: 768px) {}