:root {
    --background: #e1ebe8;
    --hover: #BDA243;
    --black: #1a2421;
}

@font-face {
    font-family: menufont;
    src: url(font/static/Nunito-Light.ttf);
}


/*https://fonts.google.com/specimen/Nunito*/

body {
    margin: 0;
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: menufont;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}


/*navbar*/

.topnav {
    overflow: hidden;
}

.topnav a {
    color: var(--black);
    padding: 26.4px 4px;
    text-decoration: none;
    font-size: 19px;
    font-family: menufont;
}

.logoimg {
    width: 20%;
    float: left;
    margin-top: 2rem;
    margin-left: 1rem;
}

.navlinks {
    margin-top: 2rem;
    display: flex;
    justify-content: right;
}


/*dropdown menu*/

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 19px;
    border: none;
    outline: none;
    color: var(--black);
    padding: 26.4px 14px;
    text-decoration: none;
    font-family: menufont;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D2D5EA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #A6A508;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: var(--background);
}

.front-img {
    display: block;
    float: center;
    text-align: center;
    color: var(--black);
}

.overscript {
    font-family: 'Rouge Script';
    font-size: 70px;
}

.ux {
    font-family: menufont;
    font-size: 25px;
    margin-left: 1rem;
}

.vejfinder {
    margin-top: 1rem;
    width: 90%;
    opacity: 0.9;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgb(0 0 0 / 0.2);
}

.intro {
    margin-top: 4rem;
    margin-left: 2rem;
    font-family: menufont;
    font-weight: normal;
    color: var(--black);
}

.port {
    font-family: 'Rouge Script';
    font-size: 90px;
    text-align: center;
    margin-top: 8rem;
}

.openarms {
    margin-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 75%;
    border-radius: 20px;
    box-shadow: 0 15px 20px rgb(0 0 0 / 0.2);
}

.flere-fodspor {
    position: absolute;
    margin-left: 9rem;
}

.flere-fodspor2 {
    position: absolute;
    margin-left: 6rem;
}

.projekt {
    width: 80%;
    border-radius: 20px;
    position: relative;
    display: block;
    transition: all .4s ease-in-out;
    margin: 1.5rem;
    margin-top: 4rem;
    box-shadow: 0 15px 35px rgb(0 0 0 / 0.2);
    font-family: menufont;
    color: var(--black);
    font-weight: bold;
    font-size: 18px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.overskriftindex {
    font-weight: bold;
}


/* ikke relevant pt
.artwork {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(388.83deg, #e1ebe8 -3.41%, rgba(255, 196, 255, 0)52.31%), #0e8f50;
}*/

.brugerrejse {
    text-decoration: none;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(323.93deg, #67c21c -32.24%, rgba(10, 185, 149, 0) 57.93%), #e1ebe8 -32.24%;
}


/* https://www.seanhalpin.design/ */

.some {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(388.83deg, #e1ebe8, rgba(255, 196, 255, 0)52.31%), #f5b9ae -3.41%;
}

.app {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(388.83deg, #fced18 -3.41%, rgba(255, 196, 255, 0)52.31%), #e1ebe8;
}

.ommig {
    width: 80%;
    position: relative;
    display: block;
    margin-top: 5%;
    font-family: menufont;
    color: var(--black);
    margin-left: 2rem;
}

.tegning {
    width: 70%;
    border-radius: 20px;
    margin-left: 4rem;
    margin-bottom: 2rem;
    box-shadow: 0 15px 20px rgb(0 0 0 / 0.2);
}

.overom {
    margin-left: 4rem;
    margin-top: 5rem;
}

.tekstbokse {
    width: 80%;
    border-radius: 20px;
    position: relative;
    display: block;
    margin: 1rem;
    margin-top: 4rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    box-shadow: 0 15px 20px rgb(0 0 0 / 0.2);
    font-family: menufont;
    color: var(--black);
}

.multi {
    background-color: #DACDFF;
}

.komu {
    background-color: #E4F5F4;
}

.nudge {
    background-color: #FFEEC4;
}

.uxd {
    background-color: #FFEAEE;
}

.yousee {
    background-color: #AADCDA;
}

.obro {
    background-color: #D4DBF9;
}

.tand {
    background-color: #FFEEC4;
}

.migsamlet {
    width: 30%;
    float: right;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.afslutning {
    font-family: menufont;
    color: var(--black);
}

.tak {
    margin-top: 6rem;
    margin-left: 4rem;
}

.adobe {
    float: right;
    width: 30%;
    margin-right: 1rem;
}

.fodrejs {
    float: right;
    width: 50%;
    margin-right: 1rem;
}

.telefon {
    float: right;
    width: 40%;
    margin: 3rem;
    border-radius: 20px;
}

.nemskat {
    float: right;
    width: 50%;
    margin: 3rem;
    border-radius: 20px;
}

ul {
    list-style-type: none;
}

.kontaktside {
    text-align: center;
    font-family: menufont;
    position: relative;
}

.kontaktoverskrift {
    font-family: 'Rouge Script';
    font-size: 90px;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.vejviserkontakt {
    width: 60%;
}

.hero-image {
    background-image: url("balletbaggrund.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: menufont;
    text-align: center;
}

.hero-imagenemskat {
    background-image: url("nemskatbaggrund.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: menufont;
    text-align: center;
}

.hero-imageartwork {
    background-image: url("baggrundartwork.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: menufont;
    text-align: center;
}

.born {
    width: 10%;
}

.bornlogo {
    width: 70%;
}

.bornlogolink {
    width: 40%;
    justify-content: center;
    box-shadow: 0 15px 20px rgb(0 0 0 / 0.2);
    margin-bottom: 2rem;
}

.ballet {
    width: 40%;
    padding: 1rem;
}

.moodboard {
    width: 60%;
}

.wireframe {
    width: 90%;
}

.balletlink {
    width: 50%;
    padding: 1rem;
}

.balletlinkmobil {
    width: 30%;
    padding: 1rem;
    margin-top: 1rem;
}

.skema {
    width: 60%;
}

.link {
    border-radius: 20px;
    background-color: #ff9a00;
    color: var(--black);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: menufont;
    box-shadow: 0 15px 20px rgb(0 0 0 / 0.2);
}

.somelogo {
    width: 10%;
}

footer {
    background-color: #B6E4D0;
    margin-top: auto;
}

.insta {
    width: 10%;
    float: right;
    padding-top: 1rem;
    padding-right: 1rem;
}

.face {
    width: 10%;
    float: right;
    padding-top: 1rem;
    padding-right: 1rem;
}

.linkd {
    width: 10%;
    float: right;
    padding-top: 1rem;
    padding-right: 1rem;
}

.kontakt {
    float: left;
    padding-left: 2rem;
    font-family: menufont;
    font-size: 20px;
}


/*https://www.browserstack.com/guide/ideal-screen-sizes-for-responsive-design*/

@media only screen and (min-width: 640px) {
    .topnav a {
        color: var(--black);
        padding: 26.4px 14px;
        text-decoration: none;
        font-size: 23px;
        font-family: menufont;
    }
    .dropdown .dropbtn {
        font-size: 23px;
        margin: 0;
    }
    .ommig {
        margin-left: 4rem;
    }
    .tak {
        font-size: 28px;
        margin-top: 12rem;
        margin-left: 4rem;
    }
    .kontakt {
        float: center;
        padding-left: 2rem;
        font-family: menufont;
        font-size: 25px;
    }
}


/*https://www.browserstack.com/guide/ideal-screen-sizes-for-responsive-design*/

@media only screen and (min-width: 1007px) {
    .topnav a {
        float: left;
        font-size: 29px;
        font-family: menufont;
        text-align: right;
        padding: 30.4px 30px;
    }
    .logoimg {
        width: 70%;
        margin: 0;
    }
    .navlinks {
        margin-right: 10rem;
    }
    .dropdown {
        float: left;
        overflow: hidden;
        margin-top: 5px;
    }
    .dropdown .dropbtn {
        font-size: 29px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #D2D5EA;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .dropdown-content a:hover {
        background-color: #A6A508;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropbtn {
        background-color: var(--background);
    }
    .navlinks :hover,
    .dropdown:hover .dropbtn {
        background-color: var(--background);
    }
    .navlinks {
        justify-content: right;
    }
    .overscript {
        font-family: 'Rouge Script';
        font-size: 100px;
    }
    .ux {
        font-size: 30px;
    }
    .openarms {
        margin-top: 3rem;
        margin-left: 0;
        margin-bottom: 3rem;
        width: 150%;
        border-radius: 20px;
        box-shadow: 0 15px 20px rgb(0 0 0 / 0.2);
    }
    .kort {
        font-size: 60px;
        text-align: center;
    }
    .flex-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .projekt {
        width: 60%;
        border-radius: 20px;
        position: relative;
        display: block;
        transition: all .4s ease-in-out;
        margin: 2rem;
        margin-top: 4rem;
        box-shadow: 0 15px 35px rgb(0 0 0 / 0.2);
        font-family: menufont;
        color: var(--black);
    }
    .vejfinder {
        margin-top: 1rem;
        width: 80%;
        opacity: 0.9;
        border-radius: 20px;
        box-shadow: 0 15px 35px rgb(0 0 0 / 0.2);
    }
    .link {
        width: 90%;
        padding: 20px 25px;
        font-size: 22px;
    }
    .kort-container {
        display: flex;
        justify-content: center;
    }
    .tegning {
        width: 40%;
    }
    .kompetencersoft {
        margin-right: 10rem;
        margin-left: 10rem;
    }
    .kompetencerux {
        margin-right: 10rem;
        margin-left: 10rem;
    }
    .ommigp {
        width: 50%;
        margin-left: 5rem;
        font-size: 25px;
    }
    .ommig {
        font-size: 25px;
        margin-left: 10rem;
    }
    .overom {
        font-size: 45px;
    }
    .tekstbokse {
        width: 40%;
        border-radius: 20px;
        position: relative;
        display: block;
        margin: 1rem;
        margin-top: 4rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        box-shadow: 0 15px 20px rgb(0 0 0 / 0.2);
        font-size: 25px;
    }
    .komu {
        margin-left: 6rem;
    }
    .nudge {
        margin-left: 12rem;
    }
    .uxd {
        margin-left: 18rem;
    }
    .yousee {
        margin-left: 24rem;
    }
    .obro {
        margin-left: 18rem;
    }
    .tand {
        margin-left: 12rem;
    }
    .tak {
        font-size: 40px;
        margin-top: 30rem;
        margin-left: 20rem;
    }
    .moodboard {
        width: 40%;
    }
    .balletlink {
        width: 70%;
    }
    .balletlinkmobil {
        width: 80%;
        margin-top: 0;
    }
    .bornlogo {
        width: 30%;
    }
    .skema {
        width: 30%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .bornlogolink {
        width: 20%;
        margin-left: 1rem;
        margin-bottom: 10rem;
    }
    .hero-imagenemskat {
        width: 90% margin
    }
    .somelogo {
        width: 5%;
    }
    .kontaktside {
        width: 70%;
        margin-left: 20rem;
    }
    .insta {
        width: 5%;
        padding: 1rem;
    }
    .face {
        width: 5%;
    }
    .linkd {
        width: 5%;
    }
    .kontakt {
        font-size: 30px;
    }
}