:root {
    --primary: #f9c800;
    --secondary: #d9d0c1;
    --background: #e1ebe8;
    --hover: #BDA243;
    --black: #1a2421;
    --font-family: 'Courier New', Courier, monospace;
}

@font-face {
    font-family: menufont;
    src: url(font/biotif-1/Biotif-Regular.ttf);
}

body {
    margin: 0;
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: var(--black);
    padding: 26.4px 13px;
    text-decoration: none;
    font-size: 19px;
    font-family: menufont;
}

.logo {
    width: 10%;
    margin-left: 2rem;
    float: left;
}

.navlinks {
    float: right;
    padding-top: 1rem;
}

.front-img {
    display: block;
    float: center;
    text-align: center;
    color: var(--black);
}

.over1 {
    font-family: 'Rouge Script';
    font-size: 70px;
}

.ux {
    font-family: menufont;
    font-size: 25px;
    margin-left: 1rem;
}

.vejfinder {
    margin-top: 1rem;
    width: 90%;
    opacity: 0.9;
    border-radius: 20px;
    box-shadow: 0 15px 20px rgb(0 0 0 / 0.2);
}

.intro {
    margin-top: 4rem;
    margin-left: 2rem;
    font-family: menufont;
    font-weight: normal;
    color: var(--black);
}

.port {
    font-family: 'Rouge Script';
    font-size: 90px;
    text-align: center;
    margin-top: 9rem;
}

.openarms {
    margin-left: 3rem;
    margin-top: 3rem;
    width: 75%;
    border-radius: 20px;
    box-shadow: 0 15px 20px rgb(0 0 0 / 0.2);
}

.flere-fodspor {
    position: absolute;
    margin-left: 9rem;
}

.flere-fodspor2 {
    position: absolute;
    margin-left: 6rem;
}

.projekt {
    width: 90%;
    border-radius: 20px;
    position: relative;
    display: block;
    transition: all .4s ease-in-out;
    margin: 1.5rem;
    margin-top: 4rem;
    box-shadow: 0 15px 20px rgb(0 0 0 / 0.2);
    font-family: menufont;
    color: var(--black);
}

.artwork {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(388.83deg, #ffeec4 -3.41%, rgba(255, 196, 255, 0)52.31%), #0e8f50;
}

.brugerrejse {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(323.93deg, #67c21c -32.24%, rgba(10, 185, 149, 0) 57.93%), #ffeec4 -32.24%;
}

.some {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(388.83deg, #41b273, rgba(255, 196, 255, 0)52.31%), #f5b9ae -3.41%;
}

.app {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(388.83deg, #fced18 -3.41%, rgba(255, 196, 255, 0)52.31%), #ffeec4;
}

.ommig {
    width: 80%;
    position: relative;
    display: block;
    margin-top: 10%;
    font-family: menufont;
    color: var(--black);
    margin-left: 4rem;
}

.tegmig {
    width: 70%;
    border-radius: 20px;
    margin-left: 4rem;
    margin-bottom: 2rem;
    box-shadow: 0 15px 20px rgb(0 0 0 / 0.2);
}

.overom {
    margin-left: 4rem;
    margin-top: 5rem;
}

.tekstbokse {
    width: 90%;
    border-radius: 20px;
    position: relative;
    display: block;
    margin: 1rem;
    margin-top: 4rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    box-shadow: 0 15px 20px rgb(0 0 0 / 0.2);
    font-family: menufont;
    color: var(--black);
}

.multi {
    background-color: #DACDFF;
}

.komu {
    background-color: #E4F5F4;
}

.nudge {
    background-color: #FFEEC4;
}

.uxd {
    background-color: #FFEAEE;
}

.yousee {
    background-color: #AADCDA;
}

.obro {
    background-color: #D4DBF9;
}

.tand {
    background-color: #FFEEC4;
}

.migsamlet {
    width: 30%;
    float: right;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.afslutning {
    font-family: menufont;
    color: var(--black);
}

.tak {
    margin-top: 4rem;
}

.adobe {
    float: right;
    width: 30%;
    margin-right: 1rem;
}

.fodrejs {
    float: right;
    width: 50%;
    margin-right: 1rem;
}

.telefon {
    float: right;
    width: 40%;
    margin: 3rem;
    border-radius: 20px;
}

.nemskat {
    float: right;
    width: 50%;
    margin: 3rem;
    border-radius: 20px;
}

footer {
    background-color: #B6E4D0;
    margin-top: auto;
}

.insta {
    width: 10%;
    float: right;
    padding: 1rem;
}

.face {
    width: 10%;
    float: right;
    padding: 1rem;
}

.linkd {
    width: 10%;
    float: right;
    padding: 1rem;
}

.kontakt {
    float: left;
    padding-left: 2rem;
    padding-top: 1rem;
}


/*https://www.browserstack.com/guide/ideal-screen-sizes-for-responsive-design*/

@media only screen and (min-width: 640px) {}

@media only screen and (min-width: 768px) {}